
.splits{
    padding-top: 54px;
    height: 210px;
}
/* Split the screen in half */
.split {
  height: 210px;
  width: 50%;
  position: absolute;
  /* z-index: 1; */
  /* top: 0; */
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #111;
}

/* Control the right side */
.right {
  right: 0;
  background-color: red;
}